Repository Myuuiii/AzurLaneAPI, pull requests merged in 2022-12, with the labels that each got.

#7 Scraper base
  .gitignore
  .idea/.idea.AzurLaneAPI/.idea/.gitignore
  .idea/.idea.AzurLaneAPI/.idea/discord.xml
  .idea/.idea.AzurLaneAPI/.idea/encodings.xml
  .idea/.idea.AzurLaneAPI/.idea/indexLayout.xml
  .idea/.idea.AzurLaneAPI/.idea/vcs.xml
  .idea/config/applicationhost.config
  AzurLaneAPI.API/Controllers/V1/ShipTypesController.cs
  AzurLaneAPI.Domain/AzurLaneAPI.Domain.csproj
  AzurLaneAPI.Domain/Dtos/Ship/ShipCreateDto.cs
  AzurLaneAPI.Domain/Dtos/Ship/ShipDto.cs
  AzurLaneAPI.Domain/Dtos/Ship/ShipUpdateDto.cs
  AzurLaneAPI.Domain/Entities/Ship.cs
  AzurLaneAPI.Domain/Entities/ShipTypeSubclass.cs
  AzurLaneAPI.Domain/Migrations/20221212182851_base.Designer.cs
  AzurLaneAPI.Domain/Migrations/20221212182851_base.cs
  AzurLaneAPI.Domain/Migrations/20221216112528_Fresh.Designer.cs
  AzurLaneAPI.Domain/Migrations/20221216112528_Fresh.cs
  AzurLaneAPI.Domain/Migrations/DataContextModelSnapshot.cs
  AzurLaneAPI.Domain/Repositories/ShipRepository.cs
  AzurLaneAPI.Scraper/AzurLaneAPI.Scraper.csproj
  AzurLaneAPI.Scraper/Entities/ShipLinkContainer.cs
  AzurLaneAPI.Scraper/Extensions.cs
  AzurLaneAPI.Scraper/ScraperEntry.cs
  AzurLaneAPI.Scraper/Scrapers/ClassScraper.cs
  AzurLaneAPI.Scraper/Scrapers/FactionsScraper.cs
  AzurLaneAPI.Scraper/Scrapers/ShipDetailsScraper.cs
  AzurLaneAPI.Scraper/Scrapers/ShipListScraper.cs
  AzurLaneAPI.Scraper/StaticData.cs
  AzurLaneAPI.sln
  README.md
Labels: PROJECT: Scraper

#13 11 Make Ships API route for retrieving ship Id and Name only
  AzurLaneAPI.API/Controllers/V1/ShipsController.cs
  AzurLaneAPI.API/Routes/V1.cs
  AzurLaneAPI.Domain/Dtos/Ship/MinimalShipDataDto.cs
  AzurLaneAPI.Domain/Profiles/AutoMapperProfiles.cs
  AzurLaneAPI.Domain/Repositories/IShipRepository.cs
  AzurLaneAPI.Domain/Repositories/ShipRepository.cs
  README.md
Labels: PROJECT: API

#14 12 Add pagination to GET routes
  AzurLaneAPI.API/Controllers/V1/ShipsController.cs
  AzurLaneAPI.Domain/APIQueryParameters/PaginationParameters.cs
  AzurLaneAPI.Domain/Repositories/IShipRepository.cs
  AzurLaneAPI.Domain/Repositories/ShipRepository.cs
Labels: PROJECT: API

#24 23 Armor can not be fetched for Submarine type ships
  AzurLaneAPI.Domain/Repositories/SignupCodeRepository.cs
  AzurLaneAPI.Scraper/AzurLaneAPI.Scraper.csproj
  AzurLaneAPI.Scraper/ScraperEntry.cs
  AzurLaneAPI.Scraper/Scrapers/ClassScraper.cs
  AzurLaneAPI.Scraper/Scrapers/ShipDetailsScraper.cs
  AzurLaneAPI.Scraper/Scrapers/ShipListScraper.cs
Labels: PROJECT: Scraper

#26 25 L'Indomptable's name can not be exported to CSV due to special characters unhandled
  .run/Scraper.run.xml
  AzurLaneAPI.Scraper/Extensions.cs
Labels: PROJECT: Scraper

#29 Myuuiii/27
  AzurLaneAPI.API/AzurLaneAPI.API.csproj
  AzurLaneAPI.API/Controllers/V1/AdminController.cs
  AzurLaneAPI.API/EnvReader.cs
  AzurLaneAPI.API/Program.cs
  AzurLaneAPI.API/Properties/launchSettings.json
  AzurLaneAPI.API/Routes/V1.cs
  AzurLaneAPI.API/Seeder.cs
  AzurLaneAPI.Domain/AzurLaneAPI.Domain.csproj
  AzurLaneAPI.Domain/Data/DataContext.cs
  AzurLaneAPI.Domain/Identity/APIRole.cs
  AzurLaneAPI.Domain/Identity/APIUser.cs
  AzurLaneAPI.Domain/Identity/ApiUserRole.cs
  AzurLaneAPI.Domain/Migrations/20221216233614_ShipThumbnailImage.Designer.cs
  AzurLaneAPI.Domain/Migrations/20221216233614_ShipThumbnailImage.cs
  AzurLaneAPI.Domain/Migrations/20221216233947_ShipThumbnailImageRename.Designer.cs
  AzurLaneAPI.Domain/Migrations/20221216233947_ShipThumbnailImageRename.cs
  AzurLaneAPI.Domain/Migrations/20221218200432_init.Designer.cs
  AzurLaneAPI.Domain/Migrations/20221218200432_init.cs
  AzurLaneAPI.Domain/Migrations/DataContextModelSnapshot.cs
  README.md
Labels: PROJECT: API, PROJECT: Domain

#34 30 Return foreign key values for Ship data in ShipDto alongside the name value
  AzurLaneAPI.Domain/Dtos/Ship/ShipDto.cs
Labels: PROJECT: Domain

#40 added thumbnail image url to minimal ship dto
  AzurLaneAPI.Domain/Dtos/Ship/MinimalShipDataDto.cs
Labels: PROJECT: Domain

#41 ugly fix for #39
  AzurLaneAPI.Scraper/Scrapers/ShipDetailsScraper.cs
Labels: PROJECT: Scraper

#43 42 Lot of ship names are "META"
  AzurLaneAPI.Scraper/Scrapers/ShipDetailsScraper.cs
Labels: PROJECT: Scraper

#45 44 English ship names get cut short due to missing/non existing prefix
  AzurLaneAPI.Scraper/Scrapers/ShipDetailsScraper.cs
Labels: PROJECT: Scraper
